* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {text-decoration: none}

$primary-color: #4265f3;

.site-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.site-header {
  padding: 10px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px dashed lightgray;
}

.site-main {
  position: relative;
  padding-top: 10px;
}

.site-aside {
  h2 {
    padding-left: 12px;
  }
  overflow-y: auto;
  ul {
    padding: 12px;
    min-width: 12em;
    > li {
      padding: 8px 0;
      a {
        color: $primary-color;
      }
    }
  }
}

.site-content {

}

.site-footer {
  height: 50px;
  color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  user-select: none;
  border-top: 1px solid lightgray;
}
