* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {text-decoration: none}

$primary-color: #4265f3;

.site-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.site-header {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px #f0f1f2;
}

.site-main {
  position: relative;
  padding-top: 10px;
}

.site-aside {
  h2 {
    padding-left: 12px;
  }
  overflow-y: auto;
  ul {
    min-width: 12em;
    > li {
      a {
        color: #333;
        display: block;
        padding: 8px;
        &:hover {
          color: $primary-color;
        }
        &.active {
          color: white;
          background: $primary-color;
        }
      }
    }
  }
}

.site-content {
  padding-left: 20px;
  padding-top: 20px;
  border-left: 1px solid #efefef;
}

.site-footer {
  height: 50px;
  color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  user-select: none;
  border-top: 1px solid lightgray;
}
